{% extends "base.html" %}
{% block title %}Edit Study Session{% endblock %}

{% block content %}
<h2>Edit Study Session</h2>

<form method="POST">
    <label>Title</label><br>
    <input type="text" name="title" value="{{ study_session.title }}" required><br><br>

    <label>Subject</label><br>
    <input type="text" name="subject" value="{{ study_session.subject }}"><br><br>

    <label>Description</label><br>
    <textarea name="description">{{ study_session.description }}</textarea><br><br>

    <label>Location</label><br>
    <input type="text" name="location" value="{{ study_session.location }}"><br><br>

    <label>Date & Time</label><br>
    <input type="text" name="date_time" value="{{ study_session.date_time }}"><br><br>

  
    <button type="submit">Save Changes</button>
</form>

<a href="{{ url_for('user', usr=study_session.creator.name) }}">Cancel</a>
{% endblock %}
